/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }

.navbar-img {
    padding-right: 1rem;
    height: 2.5rem;
    width: auto;
}

.container-fluid {
    padding-top: 2%;
}

.svg-logo {
    padding: 2.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.construction-body {
    text-align: center;
}
