body{margin-top:20px;}
.single-team .inner {
    text-align: center;
	margin-bottom: 35px;
	border: 1px solid #e5eaf0;
	padding: 5px 5px 0px;
}

.single-team .inner .team-img {
	position: relative;
}

.single-team .inner .team-img img {
	width: 100%;
}

.single-team .inner .team-img::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
}

.single-team .inner .team-img:hover::after {
	opacity: 0.4;
}
.single-team .inner .team-content {
	padding: 22px 0px 0px;
}

.single-team .inner .team-content h4 {
	font-size: 18px;
	font-weight: 400;
}

.single-team .inner .team-content h5 {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.5px;
	color: #7d91aa;
}

.single-team .inner .team-content a {
	display: inline-block;
	padding: 2px;
	margin: 0 3px;
	font-size: 16px;
}

.team-social {
	background: #f3f6fa;
	width: 50%;
	padding-top: 4px;
	margin: auto;
	border-radius: 15px 15px 0px 0px;
	margin-top: 17px;
}

.title {
    margin: auto;
    text-align: center;
}

#mentor {
    margin: auto;
}

.fa-facebook:before {
    content: "/f09a"
}

::before {
    box-sizing: border-box;
}

# Mini Team CSS

.testimonials {
 margin-top: 40px;
}
.testimonial {
    margin-bottom: 3em;
    background: #fff;
    padding: 2em;
    border-right: 30px solid #343A40;
    min-height: 169px;
}

.testimonial:before {
    content: "";
    position: absolute;
    z-index: -1;
    -ms-transform: skew(-3deg,-2deg);
    -webkit-transform: skew(-3deg,-2deg);
    -o-transform: skew(-3deg,-2deg);
    -moz-transform: skew(-3deg,-2deg);
    bottom: 14px;
    box-shadow: 0 16px 5px rgba(0,0,0,.04);
    max-width: 90%;
    width: 90%;
    height: 50px;
    left: 1px;
}

.avatar .img-circle {
    background: #fff;
    padding: 3px;
    border: 1px solid #c5c5c5;
}

.avatar img {
    max-width: 100%;
}

.img-circle {
    border-radius: 50%;
}

.testimonial h4, .testimonial h4 a {
    font-weight: 700;
}

.testimonial h4 {
    margin-bottom: 8px;
}

.testimonial .testimony-body {
    font-size: .9em;
}

.card-title {
    text-align: center;
    font-size: 1em;
}
